@model TaskManagerProject.Domain.Entities.Customer

@{
    ViewBag.Title = "Details";
}

<h2 class="page-header">Showing Details for Customer</h2>

<div>
 
    <dl class="dl-horizontal alert alert-info">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3> All Projects by this Customer</h3>
    </div>

    @foreach (var project in Model.Projects)
    {
        <div class="col-md-3">

            <div class="well" id="@project.ID">
                <label>Project name:</label><a href="~/Projects/Details/@project.ID" class="pull-right">@project.Name</a><br />
                <label>Date Created:</label><span class="pull-right">@project.DateCreated</span><br />
            </div>

        </div>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
