@model IEnumerable<TaskManagerProject.Domain.Entities.MyUser>

@{
    ViewBag.Title = "ShowReport";
}

<h2>Showing Report for Users</h2>


<table class="table">
    <tr>
          
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>

        <th>
            Number of Tasks
        </th>

        <th>
           Tasks
        </th>
       
      
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>

        <td>
           @item.Tasks.Count
        </td>

        <td>
           @foreach(var task in item.Tasks)
           {
               <a href="/Tasks/Details/@task.ID">@task.Name</a><br />
           }
        </td>
        
       
    </tr>
}

</table>
@section scripts{
    <script>
        $(function () {

            var items = $(".side-nav").find("li");
            items.removeClass("active");
            $(".li-Reports").addClass("active");

        });
    </script>

}